.logo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding:10px;
}
#link{
    text-align: center;
    margin-top: -10px;
}
#pic{
    text-align: center;
}
#profile{
    height: 230px;
    border-radius: 50%;
}
#nam{
    text-align: center;
    margin-top: -70px;
}
#na{
    font-size: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#text{
    border: 3px solid  rgba(128, 255, 0, 0.727);
    border-radius: 25px;
    margin-top: -60px;
    padding: 10px 35px 10px 35px;
    margin-left: 30px;
    margin-right: 30px;
}
#skill{
    text-align: center;
    font-size: 40px;
    margin-top: -20px;
    margin-bottom: -20px;
}
.query{
    text-align: center;
    border: 3px solid  rgba(128, 255, 0, 0.727);
    border-radius: 50px;
    padding: 10px 35px 10px 35px;
    margin-left: 30px;
    margin-right: 30px;
}
#name{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#name:enabled{
    border-radius: 10px;
    border-color: aqua;
    font-size: 17px;
    background-color: azure;
    margin-top: 10px;
}
#message{
    font-size: 30px;
}
#submitbutton:hover{
    border: 3px solid aqua;
    border-radius: 25px;
}
#name:hover{
    border: 3px solid aqua;
}
#submitbutton{
    border-radius: 10px;
    border: 1px solid aqua;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url("https://www.freecodecamp.org/news/content/images/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
#image{
    text-align: center;
}
#style{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
